/* AboutMe.css */

/* User image styles */
.user-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  overflow: hidden; /* Hide any overflow */
}

.user-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, #ff7e5f, #feb47b);  */
  opacity: 0.7; /* Adjust the opacity as needed */
}

/* About me text styles */
.about-me-text {
  padding: 30px;
  background-color: #fff; /* White background for text */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}

.about-me-text h2 {
  font-size: 2.5rem;
  color: #333; /* Dark text color */
  font-weight: bold;
}

.about-me-text p {
  font-size: 20px;
  line-height: 1.6;
  color: #666; /* Medium text color */
}

.about-me-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Text color */
}

.info-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-block i {
  font-size: 24px;
  margin-right: 10px;
}

.user-image-container img {
  max-width: 100%;
  border-radius: 8px; /* Rounded corners for the user image */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Box shadow for the user image */
}
.bb::after {
  content: "";
  margin: 21px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #80808059;
  bottom: -5px;
}

.info-icon {
  font-size: 28px;
  margin: 0 10px;
  color: #3498db;
}
